.App {
  text-align: center;
}

.form {
  margin-top: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
input {
  padding: 3px;
}
input, button {
  font-size: 20px;
  margin: 5px;
  outline: none;
}
.data {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 1% auto;
  text-align: left;
  padding-bottom: 1%;
  border-radius: 10px;


}
.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.image {
  width: 100px;
  margin: 20px;
}

.image img {
  border-radius: 50%;
}